.index-group-ez-hover { background-position: 0 0%; background-size: 100%; }
.index-group-ez { background-position: 0 6.30817%; background-size: 100%; }
.index-group-ideacard-hover { background-position: 0 12.616339%; background-size: 100%; }
.index-group-ideacard { background-position: 0 18.924509%; background-size: 100%; }
.index-group-image-hover { background-position: 0 25.232678%; background-size: 100%; }
.index-group-image { background-position: 0 31.540848%; background-size: 100%; }
.index-group-niceday-hover { background-position: 0 37.849018%; background-size: 100%; }
.index-group-niceday { background-position: 0 44.157187%; background-size: 100%; }
.index-group-paysmart-hover { background-position: 0 50.465357%; background-size: 100%; }
.index-group-paysmart { background-position: 0 56.773526%; background-size: 100%; }
.index-circle { background-position: 0 64.516129%; background-size: 133.435583%; }
.common-logo { background-position: 0 68.293886%; background-size: 181.25%; }
.index-logo-wpg { background-position: 0 70.089286%; background-size: 271.875%; }
.index-performance01 { background-position: 0 73.60689%; background-size: 271.875%; }
.index-performance02 { background-position: 0 77.760892%; background-size: 271.875%; }
.index-logo-ezding { background-position: 0 80.168567%; background-size: 290%; }
.index-logo-niceday { background-position: 0 81.777778%; background-size: 290%; }
.index-play { background-position: 0 84.688755%; background-size: 350.806452%; }
.common-burger { background-position: 0 87.37525%; background-size: 435%; }
.common-close { background-position: 0 89.97006%; background-size: 435%; }
.index-quote { background-position: 0 91.37931%; background-size: 587.837838%; }
.index-cricle-arrow { background-position: 0 92.84304%; background-size: 621.428571%; }
.index-download-w { background-position: 0 94.580549%; background-size: 776.785714%; }
.index-download { background-position: 0 96.33754%; background-size: 776.785714%; }
.index-logo-imagemore { background-position: 0 99.1%; background-size: 906.25%; }
.common-email { background-position: 0 100%; background-size: 1359.375%; }